<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<span>Hello {{ user }}</span>

<table class="table">
    <thead>
    <tr>

            <th scope="col">first_name</th>
            <th scope="col">last_name</th>
            <th scope="col">job_title</th>
            <th scope="col">salary</th>
            <th scope="col">reports_to</th>
            <th scope="col">office</th>

    </tr>
    </thead>
    <tbody>
    <h1>SECRET DATA</h1>>
    {% for unit in units %}
    <tr>
        <th scope="col">{{ unit.first_name }}</th>
        <th scope="col">{{ unit.last_name }}</th>
        <th scope="col">{{ unit.job_title }}</th>
        <th scope="col">{{ unit.salary }}</th>
        <th scope="col">{{ unit.reports_to }}</th>
        <th scope="col">{{ unit.office }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'logoutUser' %}">Logout</a>
</body>
</html>



                